.wrapper {
    height: 64px;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    backdrop-filter: blur(12px); /*15*/
    background-color: rgba(27, 26, 46, 0.3);
    box-shadow: 0 10px 10px 0 rgba(9, 5, 29, 0.171);
    font-size: 22px;
}
